BODY 
{
background: #151311;
/*background-image: url('../img/background2.png');*/
font-size: 13;
}

.content-background
{
	background-color:#201913;
}

select 
{ 
	-webkit-appearance: none; 
} 

HR
{
	border-width: 0px;
	border-top: 1px solid #9C947C;
}

textarea {
    resize: none;
}

.box{
padding:10px;
color:#FFFFCC;
font-family: Verdana, Arial, Tahoma, Serif;
font-size: 13;
}

.title{
height:20px; 
width:280px; 
border-color:#333333; 
border-style:solid; 
padding:5px; 
text-align:center
}

INPUT {
font-size: 11;
}


.drag{
height:60px;
width:162px;
border: 1px solid #201913;
font-size: 8pt;
font-weight:normal;
padding:3px;
cursor:move;
position:absolute;
}

.drag-feature{
height:60px;
width:272px;
font-size: 8pt;
font-weight:normal;
padding:3px;
cursor:move;
position:absolute;
}

.mainGrid{
border-color:#201913;
width:98%; 
padding:20px;
margin-right:auto; 
margin-left:auto;
background-color:#cdc2a2;
border-collapse: seperate;
font-size: 13;
}
.mainGrid tbody tr:hover td
{
	background:#bcb191;
}
.mainGrid th
{
background-color:#aba080;
border-color:#666666;
border-style:solid; 
border-width:1px;
}
.mainGrid td
{
border-color:#666666; /*grey*/
border-style:solid; 
border-width:1px;
}

.taskboardGrid{
border-color:#201913;
width:98%; 
padding:20px;
margin-right:auto; 
margin-left:auto;
background-color:#cdc2a2;
border-collapse: seperate;
font-size: 13;
}
.taskboardGrid tbody tr:hover td
{
	/*background:#bcb191;*/
}
.taskboardGrid th
{
background-color:#bcb191;
border-color:#706454;
border-style:solid; 
border-width:1px;
}
.taskboardGrid td
{
border-color:#706454;
border-style:solid; 
border-width:1px;
}

.mainEditGrid{
border:0; 
padding:5px;
margin-right:auto; 
margin-left:auto;
background-color:#cdc2a2;
border-collapse: collapse;
font-size: 13;
}
.mainEditGrid th
{
	background-color:#aba080;
}

div.autosize { display: table; width: 1px; }
div.autosize > div { display: table-cell; }


.tooltip {
	display:none;
	background:transparent url(../../../img/tooltip/white_arrow.png);
	
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#000;	
}
.tooltip2 {
	display:none;
	background:transparent url(../../../img/tooltip/white_arrow_big.png);
	font-size:12px;
	height:150px;
	width:320px;
	padding:25px;
	color:#000;	
}
